<ion-content [fullscreen]="true">
  <div id="container" class="h-full w-full flex flex-col lg:px-4 xl:px-8">
    <div>
      <ion-searchbar
        placeholder="Introduce nombre héroe ..."
        (ionInput)="searchHeroesByName($event)"
        class="lg:px-0 lg:py-4 xl:py-8"
      ></ion-searchbar>
    </div>
    <ng-container *ngIf="heroesList; else loading">
      <ion-list class="rounded-t-sm">
        <app-hero-item *ngFor="let hero of heroesList" [routerLink]="['/hero', hero.id]" [hero]="hero"></app-hero-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
  </div>
</ion-content>

<ng-template #loading>
  <div class="h-full w-full flex-1 flex justify-center items-center">
    <ion-spinner name="crescent" class="scale-150"></ion-spinner>
  </div>
</ng-template>
