<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Vista del héroe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="h-full w-full flex justify-center items-center login-container">
    <div>
      <img class="background" src="assets/background.jpg" alt="Marvel">
      <div class='flex items-center justify-center min-h-full min-w-screen' *ngIf="hero$ | async as hero; else loading">
        <app-hero-detailed-card [hero]="hero"></app-hero-detailed-card>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <div class="h-full w-full flex justify-center items-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ng-template>
