<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hero View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="h-full w-full flex justify-center items-center login-container">
    <div>
      <img class="background" src="assets/background.jpg" alt="Marvel">
      <ion-card>
        <ng-container *ngIf="hero$ | async as hero; else loading">
          <ion-card-header>
            <ion-card-title>
              <h2>{{ hero.name }}</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ hero.description }}</p>
            <ion-button (click)="addHeroToTeam(hero)">
              Añadir al equipo
            </ion-button>
          </ion-card-content>
        </ng-container>
        <ng-template #loading>
          <div class="h-full w-full flex justify-center items-center">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </ng-template>
      </ion-card>
    </div>
  </div>
</ion-content>
