<div
  class="relative w-screen group max-w-md min-w-0 mx-auto mt-6 mb-6 break-words bg-white border shadow-2xl md:max-w-sm rounded-xl">
  <div class="pb-6">
    <div class="flex flex-wrap justify-center">
      <div class="flex justify-center w-full">
        <div class="relative">
          <img src="{{hero.thumbnail.path!}}.{{hero.thumbnail.extension!}}" [alt]="hero.name"
               class="border-white rounded-full border-8 absolute -m-16 -ml-[4.7rem] lg:-ml-16 max-w-[150px]">
        </div>
      </div>
    </div>
    <div class="mt-20 pt-4 text-center">
      <h3 class="mb-1 text-2xl text-center text-gray-700 font-bold leading-normal">{{ hero.name }}</h3>
    </div>
    <div class="w-full text-center">
      <div class="flex justify-center pt-2 pb-0">
        <div class="flex space-x-2">
          <ion-buttons>
            <ion-button (click)="addHeroToTeam(hero)" *ngIf="!isHeroAlreadyInTeam(hero); else removeHeroButton" [disabled]="isTeamComplete">
              <ion-icon name="person-add-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
    <div class="pt-6 mx-6 mt-6 text-center border-t border-gray-200">
      <div class="flex flex-wrap justify-center">
        <div class="w-full px-6">
          <p class="font-light leading-relaxed text-gray-600" [ngClass]="hero.description ? 'text-justify' : 'text-center'">
            {{ hero.description || 'Sin descripción' }}
          </p>
        </div>
      </div>
    </div>
    <div class="pt-6 mx-6 mt-6 text-center border-t border-gray-200" *ngIf="hero.comics.available > 0">
      <div class="flex flex-wrap justify-center">
        <div class="w-full px-6">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" class="ion-no-padding">
                <ion-label>Aparece en:</ion-label>
              </ion-item>
              <div class="ion-padding px-0" slot="content" *ngFor="let comic of hero.comics.items | slice:0:9">
                <p class="font-light leading-relaxed text-gray-600 text-justify">
                  {{ comic.name }}
                </p>
              </div>
              <div class="ion-padding text-center" slot="content">
                ...
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #removeHeroButton>
  <ion-button (click)="removeHero(hero)">
    <ion-icon name="person-remove-outline" slot="icon-only"></ion-icon>
  </ion-button>
</ng-template>
