<ion-content [fullscreen]="true">

  <div id="container" class="h-full w-full flex justify-center items-center login-container">
    <img class="background" src="assets/background.jpg" alt="Marvel">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-center">
          Página no encontrada
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="stage mt-2">
        <p class="ion-text-center">La página a la que intentas acceder no existe.</p>
        <ion-button (click)="goBack()" class="mt-4">Volver</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
