/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Rubik Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~swiper/swiper-bundle.min.css';
@import '~@ionic/angular/css/ionic-swiper.css';

@layer components {
  .form-input-text {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded block w-full p-2.5;
  }
}

* {
  font-family: 'Rubik', sans-serif;
}

ion-avatar {
  img {
    height: 64px;
    width: 64px;
    object-fit: cover;
  }
}

ion-label {
  font-family: 'Rubik', sans-serif !important;
}

ion-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-spinner {
  color: var(--ion-color-tertiary);
}

ion-accordion-group{
  ion-accordion {
    .ion-accordion-toggle-icon {
      color: var(--ion-color-primary);
    }
  }
}

ion-item {
  --inner-padding-end: 0;
}

.auto-height {
  align-items: center;
  justify-content: center;
  &::part(content){
    width: 80%;
    height: 50%;
  }
}

.background {
  -webkit-filter: blur(.25em);
  filter: blur(.25em);
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.pointer {
  cursor: pointer;
}
