<ion-content [fullscreen]="true">
  <div id="container" class="h-full w-full flex justify-center items-center login-container"
       *ngIf="team$ | async as team"
  >
    <div>
      <img class="background" src="assets/background.jpg" alt="Marvel">
      <ion-card class="w-100">
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title>
              {{ team.name }}
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-button (click)="presentModal()">
                <ion-icon name="create-outline" slot="icon-only" color="primary"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item lines="none" class="pr-14">
            <ion-card-subtitle>
              {{ team.desc }}
            </ion-card-subtitle>
          </ion-item>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-card-subtitle>{{ team.heroes.length }} / {{ teamMaxLength }} <span class="pl-2">Miembros</span></ion-card-subtitle>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-list id="labels-list">
            <app-hero-item *ngFor="let hero of team.heroes" routerLink="/hero/{{hero.id}}" [hero]="hero"></app-hero-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
